/* display source content popup*/
.popup-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

#popupModal .popup-content {
    width: 40%;
    position: relative;
    flex-direction: column;
    max-height: 60%;
    overflow-y: auto;
}

#popupModal .popup-content h2 {
    font-size: 1.0em;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #000;
}

#popupModal p {
    color: #000;
}

.popup-column-list {
    --_clr-primary: #000;
    --_clr-hover: #fff;
    --_clr-checked: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px;
}

.popup-column-list>div {
    --_clr-current: var(--_clr-primary);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    max-width: 150px;
    min-width: 145px;
}

.popup-column-list>div+div {
    margin-block-start: 0.5rem;
}

.popup-column-list label {
    color: var(--_clr-current);
    transition: color 150ms ease-in-out;
    max-height: 20px;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

/* styled checkbox */
.popup-column-list input[type="checkbox"] {
    appearance: none;
    outline: none;
    width: 1.5rem;
    height: 1.5rem;
    aspect-ratio: 1;
    padding: 0.25rem;
    background: transparent;
    border: 1px solid var(--_clr-current);
    border-radius: 2px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.popup-column-list input[type="checkbox"]::after {
    content: "\2714";
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    color: var(--_clr-checked);
    font-size: inherit;
    font-family: inherit;
}

.popup-column-list label:hover,
.popup-column-list input[type="checkbox"]:focus-visible,
.popup-column-list input[type="checkbox"]:focus-visible+label,
.popup-column-list input[type="checkbox"]:hover,
.popup-column-list input[type="checkbox"]:hover+label {
    --_clr-current: var(--_clr-hover);
}

.popup-column-list input[type="checkbox"]:focus-visible::after,
.popup-column-list input[type="checkbox"]:hover::after {
    opacity: 0.5;
    color: var(--_clr-hover);
}

.popup-column-list input[type="checkbox"]:checked+label:not(:hover),
.popup-column-list input[type="checkbox"]:checked:not(:hover) {
    --_clr-current: var(--_clr-checked);
}

.popup-column-list input[type="checkbox"]:checked::after {
    opacity: 1;
}


/* display data content popup*/
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    height: auto;
    max-height: 80%;
    background-color: #367540;
    border-radius: 10px;
    overflow-y: auto;
}

.popup-content {
    width: 100%;
    margin: 0px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color: #367540;
}

.popup-title {
    position: relative;
    padding: 0;
    margin: 10px 0px 15px 0px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #080808;
}

.closeBtn, #col-validation-btn{
    background-color: #97241c;
    color: #e8f0fe;
}

#col-validation-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    justify-content: space-around;
}

body.modal-open {
    overflow: hidden;
    pointer-events: none;
}

body.modal-open .popup {
    pointer-events: auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
}

.close-btn:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .popup {
        width: 95%;
        max-height: 90%;
    }

    .popup-title {
        font-size: 20px;
    }
}